################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TesteEFCore/TesteEFCore/obj
/TesteEFCore/TesteEFCore/bin/Debug/netcoreapp3.1
